name: Build & Upload to Firebase App Distribution

on:
  push:
    branches:
      - master  # Adjust the branch as needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js 17.x
        uses: actions/setup-node@v2
        with:
          node-version: '17.x'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: '20'

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Run Firebase CLI
        run: npm install -g firebase-tools@12.0.0

      - name: Upload Artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.2.1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          groups: Debug
          file: app/build/outputs/apk/debug/app-debug.apk
