#name: Send APK to AppCenter
#on:
#  push:
#    branches:
#      - 'master'
#
#jobs:
#
#  apk:
#    name: Send APK to AppCenter
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v1
#      - name: Set up JDK 20
#        uses: actions/setup-java@v1
#        with:
#          java-version: '20'
#
#      - name: Grant Permission to Execute
#        run: chmod +x gradlew
#
#      - name: Build debug APK
#        run: bash ./gradlew assembleDebug --stacktrace
#
#      - name: Upload APK to GitHub Artifacts
#        uses: actions/upload-artifact@v1
#        with:
#          name: app
#          path: app/build/outputs/apk/debug/app-debug.apk
#
#      - name: Upload to App Center
#        uses: wzieba/AppCenter-Github-Action@v1.3.2
#        with:
#          appName: wajahatkarim3/Actions-Demo
#          token: ${{ secrets.APP_CENTER_API_TOKEN }}
#          group: "Tester"
#          file: app/build/outputs/apk/debug/app-debug.apk
#          debug: false

  #      - name: Upload APK to Diawi
#        run: |
#            curl -F "token=${{ secrets.DIAWI_UPLOAD_TOKEN }}" \
#            -F "file=@app/build/outputs/apk/debug/app-debug.apk" \
#            https://upload.diawi.com/
#        env:
#          DIAWI_UPLOAD_TOKEN: ${{ secrets.DIAWI_UPLOAD_TOKEN }}

name: Build & upload1 to Firebase App Distribution

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: '20'
      - name: build debug
        run: ./gradlew assembleDebug
      - name: upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.2.1
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: Debug
          file: app/build/outputs/apk/debug/app-debug.apk