name: Send APK to AppCenter
on:
  push:
    branches:
      - 'master'

jobs:

  apk:
    name: Send APK to AppCenter
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: '20'

      - name: Grant Permission to Execute
        run: chmod +x gradlew

      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload APK to Github Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Install App Center CLI
        run: npm install -g appcenter-cli
      - name: Upload APK to App Center
        run: |
            npm install -g appcenter-cli
            appcenter login --token ${{ secrets.APP_CENTER_API_TOKEN }}
            appcenter distribute release -f app/build/outputs/apk/debug/app-debug.apk -g Narayna
            env:
              APP_CENTER_API_TOKEN: ${{ secrets.APP_CENTER_API_TOKEN }}