name: Send APK to AppCenter
on:
  push:
    branches:
      - 'master'

jobs:

  apk:
    name: Send APK to AppCenter
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: '20'

      - name: Grant Permission to Execute
        run: chmod +x gradlew

      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload APK to GitHub Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload to App Center
        uses: wzieba/AppCenter-Github-Action@v1.3.2
        with:
          appName: wajahatkarim3/Actions-Demo
          token: ${{ secrets.APP_CENTER_API_TOKEN }}
          group: "Tester"
          file: app/build/outputs/apk/debug/app-debug.apk
          debug: true

  #      - name: Upload APK to Diawi
#        run: |
#            curl -F "token=${{ secrets.DIAWI_UPLOAD_TOKEN }}" \
#            -F "file=@app/build/outputs/apk/debug/app-debug.apk" \
#            https://upload.diawi.com/
#        env:
#          DIAWI_UPLOAD_TOKEN: ${{ secrets.DIAWI_UPLOAD_TOKEN }}

