name: Android CI/CD

on:
  push:
    branches:
      - main  # You can change this to the branch you want to trigger the workflow on

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Build and Test Android
        run: |
          chmod +x ./gradlew
          ./gradlew build connectedCheck  # Adjust this command based on your Android project setup
        env:
          CI: true  # This is commonly used to enable non-interactive mode in Android Gradle builds

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk  # Adjust the path to your generated APK(s)

  deploy:
    name: Deploy to Google Play Store or other services
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: app-debug

    # You can add steps here to deploy your Android app to Google Play Store or other services.
