name: Send APK to AppCenter
on:
  push:
    branches:
      - 'master'

jobs:
  apk:
    name: Send APK to AppCenter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 20
        uses: actions/setup-java@v2
        with:
          java-version: '20'

      - name: Grant Permission to Execute
        run: chmod +x gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload APK to GitHub Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Install App Center CLI
        run: npm install -g appcenter-cli

      - name: Log in to App Center
        run: appcenter login --token ${{ secrets.APP_CENTER_API_TOKEN }}

      - name: Distribute to AppCenter
        run: appcenter distribute release -f app/build/outputs/apk/debug/app-debug.apk -g public
